/* ?----------------------- Стили ТОЛЬКО для демонстрации ---------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-color: rgba(205, 208, 216, 0.392);
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

/* ?----------------------------- Стили для слайдера ---------------------- */

.slider {
	position: relative;
	width: 100%;
}

.slider-body {
	overflow: hidden;
	/* overflow: hidden для .slider-row  */
	margin: 0 35px;
	/* margin для кнопок, чтобы остались в контейнере */
}

.slider-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	left: 0;
	transition: all 0.7s ease-out 0s;
}

.slider-item {
	flex: 0 0 33.333%;
	background-color: rgb(205, 208, 216);
	padding: 20px 20px 0;
}

.slider-image {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.slider-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: all 0.9s cubic-bezier(0.5, 1, 0.89, 1) 0s;
	will-change: transform;
}

.slider-item:hover .slider-image img {
	transform: scale(1.1);
}

.slider-title {
	padding: 15px 0;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

/* ?----------------- buttons -------------------- */

.slider-btn {
	position: absolute;
	top: calc(50% - 14px);
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.7s ease 0s;
	background-color: rgb(201, 203, 208);
	z-index: 2;
}

.btn-left {
	left: 0px;
	clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.btn-left:active {
	left: -30px;
}

.btn-right {
	right: 0;
	clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.btn-right:active {
	right: -30px;
}


/* ?------- Размеры контейнера + количесво слайдов в контейнере на разных экранах ------- */


@media (max-width: 992px) {
	.slider-item {
		flex: 0 0 50%;
	}
}

@media (max-width: 768px) {
	.slider-item {
		flex: 0 0 100%;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 540px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: none;
	}
}
